*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: auto;
  }

#container {
    border: 1px solid black;
    height: 600px;
    width: 600px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cell {
    border: 1px solid black;
    flex: 1;
}

