html, body {
    height: 100%;
    margin: auto;
    width: 960px;
  }

#container {
    display: flex;

    border: 1px solid black;
    min-height: 100%;
    width: 960px;
    flex-wrap: wrap;
    flex-direction: row;   
    justify-content: center;
}

.cell {
    border: 1px solid black;
    flex-basis: calc(25% - 40px);

}