html, body {
    height: 100%;
    margin: auto;
    width: 960px;
  }

#container {

    border: 1px solid black;
    min-height: 100%;
    width: 960px;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    border: 1px solid black;
    flex-basis: 100%;
    flex: 1;
}

