* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2fdff;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    padding: 24px;
}

.container {
    background-color: rgb(237, 240, 243);
    border: 2px solid rgb(201, 93, 93);
    height: 720px;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row {
    background-color: rgb(201, 93, 93);
    border: 1px solid rgb(237, 240, 243);
    flex: 1;
    flex-basis: 100%;
}
