* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    margin-top: 80px;
    padding: 24px;
}

button {
    text-align: center;
    color: rgb(201, 93, 93);
    font-size: 16px;
    /* margin: 12px auto; */
    padding: 6px 12px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(201, 93, 93);
}

.menu {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 24px 24px;
}

.container {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(201, 93, 93);
    height: 720px;
    width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row {
    flex: 1;
    flex-basis: 100%;
    display: flex;
}

.cell {
    border: 1px solid rgb(201, 93, 93);
    flex: 1;
    flex-basis: 100%;
}
